* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', Arial, sans-serif;
  background: #2b2121;
}

main {
  width: 100%;
  max-width: 1100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr;
      grid-template: auto / 1fr;
}

main .hero {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  position: relative;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  max-width: 1100px;
  background: #e73727;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e73727), color-stop(100%, #8f0d0d));
  background: -webkit-gradient(linear, left top, left bottom, from(#e73727), to(#8f0d0d));
  background: linear-gradient(to bottom, #e73727 0%, #8f0d0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73727', endColorstr='#8f0d0d', GradientType=0 );
}

main .hero img {
  display: block;
  width: 668px;
  margin: 0 auto;
}

main .hero .profileImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f0e9e9;
  overflow: hidden;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0px -5px 23px 0px rgba(109, 35, 35, 0.4);
          box-shadow: 0px -5px 23px 0px rgba(109, 35, 35, 0.4);
}

main .hero .profileImg img {
  max-width: 160px;
}

main .artist {
  max-width: 1100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  border-radius: 7px;
  background: #e73727;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e73727), color-stop(100%, #8f0d0d));
  background: -webkit-gradient(linear, left top, left bottom, from(#e73727), to(#8f0d0d));
  background: linear-gradient(to bottom, #e73727 0%, #8f0d0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73727', endColorstr='#8f0d0d', GradientType=0 );
}

main .artist .name {
  font-size: 34px;
  color: white;
  margin: 30px 0;
}

main .artist .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 30px;
}

main .artist .social img {
  width: 100%;
  max-width: 40px;
  display: block;
  margin: 0 8px;
}

main .artist .social img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .albums {
  max-width: 1100px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (340px)[3];
      grid-template: auto/repeat(3, 340px);
  grid-gap: 37px;
  margin: 50px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .albums .album {
  width: 340px;
  height: 550px;
  padding: 20px;
  border-radius: 7px;
  background: #8f0d0d;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #8f0d0d), color-stop(28%, #8f0d0d), color-stop(100%, #b73d3d));
  background: -webkit-gradient(linear, left top, left bottom, from(#8f0d0d), color-stop(28%, #8f0d0d), to(#b73d3d));
  background: linear-gradient(to bottom, #8f0d0d 0%, #8f0d0d 28%, #b73d3d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0d0d', endColorstr='#b73d3d', GradientType=0 );
}

main .albums .album .cover {
  width: 300px;
  height: 300px;
}

main .albums .album .details {
  width: 300px;
  height: 200px;
}

main .albums .album .details .tracksDuration {
  width: 100%;
  margin: 30px 0;
  text-align: center;
  color: white;
}

main .albums .album .details .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .albums .album .details .buttons a {
  cursor: auto;
  color: white;
  text-decoration: none;
}

main .albums .album .details .buttons a button {
  margin: 5px;
  width: 55px;
  height: 55px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 7px;
  overflow: hidden;
  border: none;
  padding: 0;
  cursor: pointer;
}

main .albums .album .details .buttons a button img {
  display: block;
  width: 100%;
}

main .albums .album .details .buttons a button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .albums .album .details .buttons a .cdBtn {
  padding: 5px;
  background-color: white;
}

main .albums .album .details .buttons a .spotifyBtn,
main .albums .album .details .buttons a .youtubeBtn {
  background-color: #000000;
  padding: 5px;
}

main .albums .album .details .buttons a .appleBtn {
  background: #fe2455;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fe2455), color-stop(100%, #e73827));
  background: -webkit-gradient(linear, left top, left bottom, from(#fe2455), to(#e73827));
  background: linear-gradient(to bottom, #fe2455 0%, #e73827 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2455', endColorstr='#e73827', GradientType=0 );
}

main .albums .album .details .buttons a .amazonBtn {
  background: #4400ff;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #4400ff), color-stop(100%, #2c216e));
  background: -webkit-gradient(linear, left top, left bottom, from(#4400ff), to(#2c216e));
  background: linear-gradient(to bottom, #4400ff 0%, #2c216e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4400ff', endColorstr='#2c216e', GradientType=0 );
}

main .albums .album .details .buttons a .deezerBtn {
  background-color: #000000;
}

main .albums .album .details .buttons a .tidalBtn {
  background-color: #000000;
}

main .albums .album .details .buttons a .soundcloudBtn {
  background: #ff2a00;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff2a00), color-stop(100%, #e73827));
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2a00), to(#e73827));
  background: linear-gradient(to bottom, #ff2a00 0%, #e73827 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#e73827', GradientType=0 );
}

@media only screen and (max-width: 1200px) {
  main .albums {
    max-width: 800px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: (340px)[2];
        grid-template: auto/repeat(2, 340px);
    grid-gap: 50px;
  }
}

@media only screen and (max-width: 880px) {
  main .albums {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: (340px)[1];
        grid-template: auto/repeat(1, 340px);
    grid-gap: 50px;
  }
}

@media only screen and (max-width: 750px) {
  main .hero img {
    width: 90%;
    max-width: 526px;
  }
}
/*# sourceMappingURL=artist.css.map */
